.stats
  position: relative
  z-index: 1
  overflow: hidden

  &__container
    padding-top: 71px
    padding-bottom: 100px
    +r($medium)
      padding-top: (71px / 2)
      padding-bottom: (50px / 2)


  &__list
    justify-content: space-between
    flex-wrap: wrap
    +r($medium)
      justify-content: flex-start

  &__item
    position: relative
    max-width: 20%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    +r($medium)
      margin-bottom: 20px
      max-width: 33%

    +r($small)
      max-width: 50%

    &:after
      position: absolute
      content: ''
      top: 50%
      right: 0
      width: 2px
      height: 36px
      background-color: #4d6bef
      box-shadow: 4px 3px 26px 3px rgba(77, 107, 239, 0.81)
      transform: translateY(-50%)

    &:last-child
      &:after
        display: none

    &:nth-child(3n)
      +r($medium)
        &:after
          display: none

      +r($small)
        &:after
          display: block

    &:nth-child(2n)
      +r($small)
        &:after
          display: none


  &__entry
    margin-left: 30px


  &__title
    font-size: 18px
    font-weight: 500
    line-height: 1

  &__num
    margin-bottom: 10px
    color: #4d6bef
    font-size: 24px
    font-weight: 500
    line-height: 1
    text-shadow: 4px 3px 14px rgba(77, 107, 239, 0.46)
