mixin stats(data)
  .stats
    .stats__container.container
      ul.stats__list.flex
        li.stats__item
          .stats__icon
            img.lazy(data-srcset="assets/images/general/stat-icon-1@2x.png 2x, assets/images/general/stat-icon-1.png 1x ", alt="")
          .stats__entry
            .stats__num 154+
            .stats__title Стенды
        li.stats__item
          .stats__icon
            img.lazy(data-srcset="assets/images/general/stat-icon-2@2x.png 2x, assets/images/general/stat-icon-2.png 1x ", alt="")
          .stats__entry
            .stats__num 1654+
            .stats__title Товары

        li.stats__item
          .stats__icon
            img.lazy(data-srcset="assets/images/general/stat-icon-3@2x.png 2x, assets/images/general/stat-icon-3.png 1x ", alt="")
          .stats__entry
            .stats__num 3000К+
            .stats__title Посетители

        li.stats__item
          .stats__icon
            img.lazy(data-srcset="assets/images/general/stat-icon-4@2x.png 2x, assets/images/general/stat-icon-4.png 1x", alt="")
          .stats__entry
            .stats__num 12+
            .stats__title Страны

        li.stats__item
          .stats__icon
            img.lazy(data-srcset="assets/images/general/stat-icon-5@2x.png 2x, assets/images/general/stat-icon-5.png 1x ", alt="")
          .stats__entry
            .stats__num 29+
            .stats__title Спикеры
