.stats
  position: relative
  z-index: 1
  overflow: hidden

  &__container
    padding-top: 71px
    padding-bottom: 136px
    +r($medium)
      padding-top: (71px / 2)
      padding-bottom: (71px / 2)


  &__list
    // justify-content: space-between
    justify-content: flex-start
    flex-wrap: wrap
    +r($medium)
      justify-content: flex-start

  &__item
    position: relative
    max-width: 20%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    +r($medium)
      margin-bottom: 30px
      max-width: 100%
      justify-content: flex-start
      text-align: left

    +r($small)
      max-width: 100%
      text-align: center

    &:after
      position: absolute
      content: ''
      top: 50%
      right: 0
      width: 2px
      height: 36px
      background-color: #4d6bef
      box-shadow: 4px 3px 26px 3px rgba(77, 107, 239, 0.81)
      transform: translateY(-50%)
      +r($medium)
        display: none

    &:last-child
      &:after
        display: none


    &:nth-child(1n)
      // padding-left: 20px
      padding-right: 30px
      max-width: 18.5%
      +r($medium)
        padding-right: 0
        max-width: 100%

      // +r($small)
      //   &:after
      //     display: none


    &:nth-child(2n)
      padding-left: 24px
      // padding-right: 0
      // max-width: 18.5%
      max-width: 22%
      +r($medium)
        padding-left: 0
        max-width: 100%
      // +r($small)
      //   &:after
      //     display: none


    &:nth-child(3n)
      padding-left: 38px
      max-width: 20%
      +r($medium)
        padding-left: 0
        max-width: 100%

      // +r($medium)
      //   &:after
      //     display: none

      // +r($small)
      //   &:after
      //     display: block

    &:nth-child(4n)
      padding-left: 10px
      max-width: 20.5%
      +r($medium)
        padding-left: 0
        max-width: 100%


    &:nth-child(5n)
      padding-left: 58px
      max-width: 18.5%
      +r($medium)
        padding-left: 0
        max-width: 100%



  &__icon
    flex-shrink: 0
    +r($medium)
      display: none

  &__entry
    margin-left: 30px
    +r($small)
      margin-left: 0


  &__title
    font-size: 18px
    font-weight: 500
    line-height: 1

  &__num
    margin-bottom: 10px
    color: #4d6bef
    font-size: 24px
    font-weight: 500
    line-height: 1
    text-shadow: 4px 3px 14px rgba(77, 107, 239, 0.46)


.stats_secondary
  .stats__container
    padding-top: 58px

