mixin stats(data)
  .stats&attributes(attributes)
    .stats__container.container
      ul.stats__list.flex
        li.stats__item
          != pugHelpers.Icon.call(locals, {iconName: 'stat-icon-1', className: 'stats__icon' , iconWidth: '41', iconHeight: '41'})

          .stats__entry
            .stats__num 154+
            .stats__title Стенды

        li.stats__item
          != pugHelpers.Icon.call(locals, {iconName: 'stat-icon-2', className: 'stats__icon' , iconWidth: '41', iconHeight: '41'})

          .stats__entry
            .stats__num 1654+
            .stats__title Товары

        li.stats__item
          != pugHelpers.Icon.call(locals, {iconName: 'stat-icon-3', className: 'stats__icon' , iconWidth: '42', iconHeight: '40'})

          .stats__entry
            .stats__num 3000К+
            .stats__title Посетители

        li.stats__item
          != pugHelpers.Icon.call(locals, {iconName: 'stat-icon-4', className: 'stats__icon' , iconWidth: '41', iconHeight: '41'})

          .stats__entry
            .stats__num 12+
            .stats__title Страны

        li.stats__item
          != pugHelpers.Icon.call(locals, {iconName: 'stat-icon-5', className: 'stats__icon' , iconWidth: '47', iconHeight: '47'})

          .stats__entry
            .stats__num 29+
            .stats__title Спикеры
