mixin popup(data)
  #add-video.popup.mfp-hide
    form.popup__form(action="", method="post")
      .form__field.form__field_settings
        label.form__label.form__label_settings.flex
          span.form__label-text Название:
          input.form__input.form__input_settings(type="text", value="", placeholder="Завод косметики “ЭкоСпарк”")

      .form__field.form__field_settings
        label.form__label.form__label_settings.flex
          span.form__label-text YouTube видео ID:
          input.form__input.form__input_settings(type="text", value="", placeholder="Завод косметики “ЭкоСпарк”")

      .form__field.form__field_settings
        label.form__label.form__label_settings.flex
          span.form__label-text Дата:
          input.form__input.form__input_settings(type="text", value="", placeholder="Завод косметики “ЭкоСпарк”")

      .popup__buttons.flex
        a.popup__button.button.button_active(href='#') Сохранить
        a.popup__button.button(href='#') Отменить