mixin history(data)
  section.history
    .history__container.container
      h2.history__title.title История посещений

      table.history__table.table
        thead.table__head
          tr.table__row
            th.table__caption Дата
            th.table__caption Время
            th.table__caption Название страницы
        tbody.table__body
          tr.table__row
            td.table__cell
              .table__content
                span 22.08.
                  i 2020
            td.table__cell
              .table__content
                span 22.18
            td.table__cell
              .table__content Название страницы https://ru.freepik.com/free-photo/womd

          tr.table__row
            td.table__cell
              .table__content
                span 22.08.
                  i 2020
            td.table__cell
              .table__content
                span 22.18
            td.table__cell
              .table__content Название страницы https://ru.freepik.com/free-photo/wom
          tr.table__row
            td.table__cell
              .table__content
                span 22.08.
                  i 2020
            td.table__cell
              .table__content
                span 22.18
            td.table__cell
              .table__content Название страницы https://ru.freepik.com/free-photo/wom

          tr.table__row
            td.table__cell
              .table__content
                span 22.08.
                  i 2020
            td.table__cell
              .table__content
                span 22.18
            td.table__cell
              .table__content Название страницы https://ru.freepik.com/free-photo/womd
      a.history__more(href="#") Показать еще