mixin footer(data)
  footer.footer
    .footer__container.container.flex

      a.footer__logo.logo(href="#")
        picture.logo__image
          source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/logo@2x.webp 2x, assets/images/general/logo.webp 1x')
          source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/logo@2x.png 2x, assets/images/general/logo.png 1x')
          img.lazy(data-src="assets/images/general/logo@2x.png", alt="logo Expocon")

      .footer__links
        a.footer__link(href="#") Написать нам

        a.footer__link(href="#") Пользовательское соглашение

        a.footer__link(href="#") Политика конфиденциальности

      .footer__main
        nav.footer__nav.nav.nav_secondary
          ul.nav__list.flex
            li.nav__item
              a.nav__link(href="#") Главная
            li.nav__item
              a.nav__link(href="#") О выставке
            li.nav__item
              a.nav__link(href="#") Экспоненты
            li.nav__item
              a.nav__link(href="#") Контакты

        .footer__payment.payment.flex
          .payment__text Способы оплаты:
          .payment__w.flex
            picture.payment__variant.payment__variant_1
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/visa@2x.webp 2x, assets/images/general/visa.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/visa@2x.png 2x, assets/images/general/visa.png 1x')
              img.lazy(data-src="assets/images/general/visa.png", alt="")

            picture.payment__variant.payment__variant_2
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/master@2x.webp 2x, assets/images/general/master.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/master@2x.png 2x, assets/images/general/master.png 1x')
              img.lazy(data-src="assets/images/general/master.png", alt="")

            picture.payment__variant.payment__variant_3
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/mir@2x.webp 2x, assets/images/general/mir.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/mir@2x.png 2x, assets/images/general/mir.png 1x')
              img.lazy(data-src="assets/images/general/mir.png", alt="")

      .footer__contacts
        a.footer__contact(href="tel:+70000000000") 8 000 000 00 00
        a.footer__contact(href="mailto:jgfkglvu@mail.ru") jgfkglvu@mail.ru

        .footer__social.social.flex
          a.social__link(href="")
            picture
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/social-1@2x.webp 2x, assets/images/general/social-1.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/social-1@2x.png 2x, assets/images/general/social-1.png 1x')
              img.lazy(data-src="assets/images/general/social-1.png", alt="" )
          a.social__link(href="")
            picture
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/social-2@2x.webp 2x, assets/images/general/social-2.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/social-2@2x.png 2x, assets/images/general/social-2.png 1x')
              img.lazy(data-src="assets/images/general/social-2.png", alt="")
          a.social__link(href="")
            picture
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/social-3@2x.webp 2x, assets/images/general/social-3.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/social-3@2x.png 2x, assets/images/general/social-3.png 1x')
              img.lazy(data-src="assets/images/general/social-3.png", alt="")
          a.social__link(href="")
            picture
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/social-4@2x.webp 2x, assets/images/general/social-4.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/social-4@2x.png 2x, assets/images/general/social-4.png 1x')
              img.lazy(data-src="assets/images/general/social-4.png", alt="")