.footer
  background-color: rgba(0, 0, 0, .3)
  color: $white
  overflow: hidden
  &__container
    padding-top: 46px
    padding-bottom: 46px
    justify-content: space-between
    +r($medium)
      flex-wrap: wrap
      justify-content: center
      text-align: center

  &__col
    max-width: 174px
    width: 100%

  &__col_main
    // max-width: 570px
    max-width: 870px
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    // flex-direction: column
    // align-items: center

    +r($medium)
      margin-top: 18px
      margin-bottom: 30px
      max-width: 100%
      flex-direction: column
      align-items: center



  &__logo
    margin-top: 40px
    +r($medium)
      margin-top: 0
      margin-bottom: 20px

  &__links
    padding-top: 22px
    padding-left: 60px
    max-width: 330px
    width: 100%
    color: #ffffff
    font-family: $fL
    font-size: 14px
    font-weight: 300
    line-height: 25px
    +r($large)
      padding-left: 30px
    +r($medium)
      padding-top: 0
      padding-left: 0
      order: 4
      max-width: 100%

  &__link
    color: inherit
    display: block
    line-height: 1.714
    text-decoration: none
    &:hover
      color: darken($white, 10)
      +tr(all .3s ease)

  &__main
    padding-top: 4px
    max-width: 530px
    width: 100%
    +r($medium)
      margin-bottom: 20px
      padding-top: 0
      padding-left: 0
      max-width: 100%


  &__nav
    max-width: 461px
    width: 100%
    +r($medium)
      margin: auto

  &__payment
    margin-top: 22px
    +r($medium)
      flex-direction: column
      justify-content: center

  &__contacts
    margin-bottom: 27px
    padding-left: 6px
    color: #ffffff
    font-size: 18px
    font-weight: 500
    line-height: 1
    +r($large)
      padding-left: 0

  &__contacts_secondary
    margin-top: 30px
    margin-bottom: 0
    padding-left: 0
    +r($medium)
      text-align: center

  &__contact
    margin-bottom: 23px
    display: block
    color: inherit
    text-decoration: none
    +tr(all .3s ease)
    +r($large)
      white-space: nowrap

    &:last-child
      margin-bottom: 0
    &:hover
      color: darken($white, 10)
      +tr(all .3s ease)

  // &__social

.footer_theme_secondary
  .footer__container
    padding-top: 36px
    padding-bottom: 30px
    align-items: flex-start
    +r($medium)
      justify-content: center
  .footer__nav
    padding-left: 50px
    // max-width: 100%
    max-width: 570px
    +r($medium)
      margin-bottom: 35px
      padding-left: 0
      order: 0

  .footer__payment
    margin-top: 0
    margin-left: auto
    +r($medium)
      order: 2
      margin-left: 0

  .footer__links
    margin-top: -60px
    margin-bottom: 27px
    padding-top: 33px
    padding-left: 0
    // max-width: 100%
    max-width: 570px
    justify-content: center

    +r($medium)
      margin-top: 0
      padding-top: 45px
      order: 3
      flex-wrap: wrap
      text-align: center

  .footer__link
    margin-right: 20px
    +r($medium)
      width: 100%
      margin-right: 0
      order: 4
    &:last-child

      margin-right: 0

  .footer__social
    margin-right: auto
    margin-left: 200px
    max-width: 570px
    width: 100%
    +r($medium)
      margin-bottom: 34px
      margin-right: 0
      margin-left: 0
      order: 1
      justify-content: center

  .footer__contact
    +r($small)
      margin-bottom: 22px



.social
  align-items: center
  &__link
    margin-right: 20px
    font-size: 0

    &:last-child
      margin-right: 0


.payment
  align-items: center
  &__text
    font-size: 18px
    font-weight: 500
    line-height: 1.388
  &__w
    margin-left: 20px
    +r($medium)
      margin-left: 0


  &__variant
    margin-right: 6px
    height: 40px
    flex-shrink: 0
    &:last-child
      margin-right: 0
  &__variant_1
    width: 52px

  &__variant_2
    width: 54px

  &__variant_3
    width: 54px

.payment_secondary
  flex-direction: column
  align-items: flex-end
  +r($medium)
    align-items: center
  .payment__text
    margin-bottom: 15px


