.page
  // &__main
  //   +r($small)
  //     margin-right: -15px
  //     margin-left: -15px
  &__row_first
    padding-bottom: 26px
    +r($small)
      margin-right: -15px
      margin-left: -15px
      padding-bottom: 23px

  &__container
    position: relative
    z-index: 2
    display: flex
    align-items: flex-start
    +r($medium)
      flex-wrap: wrap

  &__exhibition
    max-width: 572px
    width: 100%
    flex-shrink: 0
    +r($medium)
      margin-bottom: 53px
      max-width: 100%

  &__register
    margin-top: auto
    margin-left: 33px
    margin-bottom: auto
    max-width: 570px
    width: 100%
    +r($medium)
      margin-left: 0
      max-width: 100%

.page_personal
  .page__main
    padding-top: 28px
    +r($small)
      padding-top: 18px