.page
  // &__main
  //   +r($small)
  //     margin-right: -15px
  //     margin-left: -15px
  &__row_first
    padding-bottom: 26px
    +r($small)
      margin-right: -15px
      margin-left: -15px
      padding-bottom: 23px

  &__container
    position: relative
    z-index: 2
    display: flex
    align-items: flex-start
    +r($medium)
      flex-wrap: wrap

  &__exhibition
    max-width: 572px
    width: 100%
    flex-shrink: 0
    +r($medium)
      margin-bottom: 53px
      max-width: 100%

  &__register
    margin-top: auto
    margin-left: 33px
    margin-bottom: auto
    max-width: 570px
    width: 100%
    +r($medium)
      margin-left: 0
      max-width: 100%

.page_personal
  .page__main
    padding-top: 28px
    +r($small)
      padding-top: 18px

.page_join
  background-position: 50% 0
  background-size: 100% 729px
  +r($medium)
    background-position: calc(50% + 300px) 0
    background-size: 2014px 875px

  .page__main
    padding-top: 15px
    +r($small)
      padding-top: 0

  .page__row_first
    +r($medium)
      padding-bottom: 30px

  .page__row_second
    .page__container
      +r($medium)
        padding-right: 0
        padding-left: 0

  .page__exhibition
    max-width: 516px
    +r($medium)
      max-width: 100%

  .page__join
    +r($medium)
      order: -1

  .page__register
    z-index: 1
    position: relative
    margin-top: 116px
    margin-left: auto
    padding-bottom: 0
    max-width: 601px
    +r($medium)
      margin-top: 0
      margin-right: 15px
      margin-left: 15px
      padding-top: 20px
      max-width: 100%

.page_settings
  background-position: 50% 0
  background-repeat: no-repeat
  background-size: 1888px 1040px
  .page__main
    padding-top: 37px
    +r($medium)
      padding-top: 29px

  .mfp-bg
    background: transparent


.page_centr
  .page__main
    padding-top: 37px
    +r($medium)
      padding-top: 17px