.why
  overflow: hidden
  &__container
    padding-top: 148px
    padding-bottom: 81px
    +r($medium)
      padding-top: 30px
      padding-bottom: 47px
    // +r($small)

  &__row
    +r($medium)
      flex-wrap: wrap

  &__entry,
  &__image
    max-width: 50%
    width: 100%
    +r($medium)
      max-width: 100%

  // &__image
  //   +r($medium)
  //     order: -1


  &__title
    margin-bottom: 36px
    +r($medium)
       margin-bottom: 35px

  &__list
    margin-right: -20px
    +r($medium)
      margin-right: 0

  &__item
    position: relative
    margin-bottom: 20px
    padding-left: 21px
    line-height: 2
    font-size: 18px
    // white-space: nowrap
    +r($medium)
      margin-bottom: 15px
      line-height: 1.33

    &:after
      position: absolute
      top: 13px
      left: 0
      z-index: 1
      content: ''
      width: 10px
      height: 10px
      background-color: #4c6aef
      border-radius: 50%
      box-shadow: 3.9px 3.1px 14.2px 1.8px rgba(67, 92, 203, 0.46)
      +r($medium)
        top: 8px

  &__item-title
    font-size: 16px

  &__item-text
    font-family: $fL
    font-size: 16px
    line-height: 1.125


  &__button
    margin-top: 24px

  &__image
    position: relative
    display: flex
    +r($medium)
      margin-top: 60px
    picture
      position: absolute
      display: block
      width: 744px
      height: auto
      flex-shrink: 0
      transform: translate(0px, -76px)
      +r($medium)
        position: static
        width: 336px
        transform: translate(-15px, 0px)




.why_secondary
  .why__container
    position: relative
    z-index: 1
    padding-bottom: 99px
    +r($medium)
      padding-top: 58px
      padding-bottom: 72px


  .why__title
    margin-bottom: 47px
    +r($medium)
      margin-bottom: 20px
  .why__entry
    padding-right: 0
    +r($medium)
      margin-right: -20px

  .why__item
    margin-bottom: 17px
    padding-left: 29px
    +r($medium)
      margin-bottom: 19px
      padding-left: 32px
    &:after
      top: 5px
  .why__item-title
    line-height: 1.2
  .why__item-text
    +r($medium)
      font-size: 14px
      line-height: 1.28
  .why__image
    +r($medium)
      margin-top: 0
    picture
      transform: translate(60px, 26px)
      +r($medium)
        transform: translate(-10px, -8px)
