mixin why(data)
  section.why
    .why__container.container
      .why__row.flex
        .why__entry
          h2.why__title.title Почему стоит посетить выставку?
          ul.why__list
            li.why__item Сравните максимум вариантов и найдите для себя оптимальное решение,
            li.why__item Общайтесь с экспертами и получите ответы на волнующие вопросы,
            li.why__item Узнайте о тенденциях и разработках в мире косметологии,
            li.why__item Вдохновитесь на новые идеи и цели.

          a.why__button.button.button_theme_third(href="#") Зарегистрироваться

        .why__image
          picture
            source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/why-image@2x.webp 2x, assets/images/general/why-image.webp 1x')
            source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/why-image@2x.png 2x, assets/images/general/why-image.png 1x')

            img.lazy(data-srcset='assets/images/general/why-image@2x.png 2x, assets/images/general/why-image.png 1x' alt="")