.why
  overflow: hidden
  &__container
    padding-top: 148px
    padding-bottom: 81px
    +r($medium)
      padding-top: 74px
      padding-bottom: (81px / 2)

  &__row
    +r($medium)
      flex-wrap: wrap

  &__entry,
  &__image
    max-width: 50%
    width: 100%
    +r($medium)
      max-width: 100%

  &__image
    +r($medium)
      order: -1


  &__title
    margin-bottom: 36px
    +r($medium)
       margin-bottom: (36px / 2)

  &__list
    margin-right: -20px

  &__item
    position: relative
    padding-left: 21px
    line-height: 2
    font-size: 18px
    // white-space: nowrap
    +r($medium)
      font-size: 16px
    &:after
      position: absolute
      top: 15px
      left: 0
      z-index: 1
      content: ''
      width: 10px
      height: 10px
      background-color: #4c6aef
      border-radius: 50%
      box-shadow: 3.9px 3.1px 14.2px 1.8px rgba(67, 92, 203, 0.46)


  &__button
    margin-top: 24px

  &__image
    position: relative
    display: flex
    picture
      position: absolute
      display: block
      width: 744px
      flex-shrink: 0
      transform: translate(0px, -76px)
      +r($medium)
        position: static
        width: 100%
        transform: translate(0px, -36px)
