.header
  position: relative
  z-index: 2
  background-color: rgba(0, 0, 0, .3)
  // opacity: 0.3
  &__container
    color: $white

  &__top
    position: relative
    z-index: 1
    padding-top: 27px
    align-items: center

  &__bottom
    padding-top: 34px
    padding-bottom: 50px
    +r($medium)
      padding-top: (34px / 2)
      padding-bottom: (50px / 2)

  &__logo
    max-width: 141px
    width: 100%
    height: auto
    +r($medium)
      max-width: 100px


  &__nav
    // margin-top: 5px
    margin-top: -4px
    // margin-left: auto
    padding-left: 59px
    max-width: 558px
    width: 100%

    +r($large)
      padding-left: 10px

  &__phone
    margin-top: -5px
    margin-left: auto
    // padding-left: 67px
    max-width: 160px
    width: 100%
    +r($medium)
      margin-top: 0
      display: none


  &__h-user
    margin-left: auto
    max-width: 311px
    width: 100%
    justify-content: space-between

  &__search
    max-width: 100%