mixin catalog(data)
  section.catalog.catalog_container.container
    h2.catalog__title.title Каталог экспонентов
    .catalog__top
      .catalog__items
        article.catalog__item
          .catalog__image
            img(src="assets/images/content/catalog-company.png", alt="")
          .catalog__item-title Завод Melsitech

          .catalog__item-country Россия
          .catalog__item-city г. Нижний Новгород
