mixin catalog(data)
  section.catalog
    .catalog__container.container
      .catalog__bg
      h2.catalog__title.title Каталог экспонентов
      .catalog__top
        .catalog__items.flex
          a.catalog__item(href="#")
            picture.catalog__image
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
              img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
            .catalog__item-entry
              .catalog__item-title Завод Melsitech

              .catalog__item-country Россия
              .catalog__item-city г. Нижний Новгород

          a.catalog__item(href="#")
            picture.catalog__image
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
              img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
            .catalog__item-entry
              .catalog__item-title Завод Melsitech

              .catalog__item-country Россия
              .catalog__item-city г. Нижний Новгород

          a.catalog__item(href="#")
            picture.catalog__image
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
              img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
            .catalog__item-entry
              .catalog__item-title Завод Melsitech

              .catalog__item-country Россия
              .catalog__item-city г. Нижний Новгород

          a.catalog__item(href="#")
            picture.catalog__image
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
              img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
            .catalog__item-entry
              .catalog__item-title Завод Melsitech

              .catalog__item-country Россия
              .catalog__item-city г. Нижний Новгород

          a.catalog__item(href="#")
            picture.catalog__image
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
              img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
            .catalog__item-entry
              .catalog__item-title Завод Melsitech

              .catalog__item-country Россия
              .catalog__item-city г. Нижний Новгород

          a.catalog__item(href="#")
            picture.catalog__image
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
              img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
            .catalog__item-entry
              .catalog__item-title Завод Melsitech

              .catalog__item-country Россия
              .catalog__item-city г. Нижний Новгород

        a.catalog__more(href="#") Показать еще


      .catalog__bottom
        ul.catalog__categories.flex

          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще


          li.catalog__category
            a.catalog__category-link(href="#") Эстетическая медицина

          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще

          li.catalog__category
            a.catalog__category-link(href="#") Лазерная эпиляция



          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще


          li.catalog__category
            a.catalog__category-link(href="#") Интимное омоложение


          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще

          li.catalog__category
            a.catalog__category-link(href="#") Здоровье



          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще

          li.catalog__category
            a.catalog__category-link(href="#") Лазерный пилинг



          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще

          li.catalog__category
            a.catalog__category-link(href="#") Инъекции




          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще

          li.catalog__category
            a.catalog__category-link(href="#") Аппаратная косметология



          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще


          li.catalog__category
            a.catalog__category-link(href="#") Дермальное омоложение



          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще

          li.catalog__category
            a.catalog__category-link(href="#") Красота



          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще

          li.catalog__category
            a.catalog__category-link(href="#") Косметика 50+




          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще

          li.catalog__category
            a.catalog__category-link(href="#") Фармацевтика



          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще
          li.catalog__category
            a.catalog__category-link(href="#") Медицинские методики



          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще


          li.catalog__category
            a.catalog__category-link(href="#") Пластическая хирургия


          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще

          li.catalog__category
            a.catalog__category-link(href="#") Флебология



          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще


          li.catalog__category
            a.catalog__category-link(href="#") Перманентный макияж


          .catalog__sub
            .catalog__sub-triangle

            .catalog__items.catalog__items_sub.flex
              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

              a.catalog__item(href="#")
                picture.catalog__image
                  source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.webp 2x, assets/images/content/catalog-company.webp 1x')
                  source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/catalog-company@2x.png 2x, assets/images/content/catalog-company.png 1x')
                  img.lazy(data-src="assets/images/content/catalog-company.png", alt="")
                .catalog__item-entry
                  .catalog__item-title Завод Melsitech

            a.catalog__more(href="#") Показать еще

          li.catalog__category
            a.catalog__category-link(href="#") Карбоновый пилинг






