.catalog
  position: relative
  z-index: 1
  overflow: hidden
  &__container
    position: relative
    padding-top: 65px

    +r($medium)
      padding-top: (65px / 2)

  &__bg
    position: absolute
    z-index: -1
    top: -60px
    right: -60px
    left: -60px
    height: 688px
    background-color: rgba(0,0,0, .3)

  &__title
    margin-bottom: 53px
    text-align: center

  &__top
    text-align: center

  &__sub
    position: relative
    // left: 0
    // bottom: calc(100%)
    margin-bottom: 50px
    margin-right: 15px
    margin-left: 15px
    padding-top: 30px
    padding-right: 30px
    padding-bottom: 30px
    padding-left: 30px
    max-width: 100%
    width: 100%
    display: none
    background-color: #ffffff
    text-align: center
    border-radius: 10px
    +r($medium)
      margin-bottom: 25px

    +r($small)
      margin-right: 0
      margin-left: 0

    .catalog__more
      border-bottom: 1px solid #141a2f
      margin-top: 0
      padding-bottom: 0
      color: #141a2f

  &__sub_active
    display: block

  &__sub-triangle
    position: absolute
    bottom: -48px
    left: 74px
    width: 0
    height: 0
    border-style: solid
    border-width: 48px 50px 0 50px
    border-color: #ffffff transparent transparent transparent
    +r($medium)
      bottom: -24px
      left: (74px / 2)
      border-width: 24px 25px 0 25px

  &__items
    margin-right: -15px
    margin-left: -15px
    flex-wrap: wrap



  &__items_sub

    .catalog__item
      padding-right: 9px
      padding-left: 9px
      max-width: 25%
      height: 91px
      +r($medium)
        margin-bottom: 15px
        max-width: 50%
        flex-wrap: nowrap

      +r($small)
        max-width: 100%

      &:hover
        color: $white

        .catalog__item-entry
          color: $white

    .catalog__image
      width: 94px
      height: 100%
      border-radius: 5px 0 0 5px
      border: 1px solid #0f1224
      background-color: #ffffff

    .catalog__item-entry
      border: 1px solid #0f1224
      border-width: 1px 1px 1px 0
      padding-top: 0
      padding-bottom: 0
      width: 170px
      height: 100%
      justify-content: center
      color: #161b30
      font-size: 14px
      border-radius: 0 5px 5px 0
    .catalog__item-title
      margin-bottom: 0


  &__item
    margin-bottom: 35px
    padding-right: 15px
    padding-left: 15px
    max-width: 33.3%
    width: 100%
    height: 169px
    display: flex
    align-items: center
    color: inherit
    text-decoration: none
    text-align: left

    +r($medium)
      height: auto

      flex-wrap: wrap

    +r($small)
      max-width: 100%


    &:hover
      .catalog__item-entry
        position: relative
        border: 1px solid transparent
        // margin-top: -1px
        // margin-right: -1px
        margin-left: -1px
        // margin-bottom: -1px
        background-color: #4d6bef
        +tr(all .3s ease)

        +r($medium)
          border: 1px solid transparent
          border-width: 1px 1px 1px 1px
          margin-top: -1px
          margin-right: 0
          margin-bottom: 0
          margin-left: 0

  &__image
    padding-left: 8px
    padding-right: 16px
    height: 100%
    display: flex
    // flex-shrink: 0
    justify-content: center
    align-items: center
    background-color: #ffffff
    border-radius: 5px 0 0 5px

    +r($medium)
      width: 100%
      height: 100px
      border-radius: 5px 5px 0 0

  &__item-entry
    border: 1px solid #ffffff
    border-width: 1px 1px 1px 0
    padding-top: 40px
    padding-right: 18px
    padding-left: 35px
    padding-bottom: 33px
    height: 100%
    display: flex
    flex-direction: column
    background: transparent
    font-size: 18px
    font-weight: 500
    line-height: 1

    border-radius: 0 5px 5px 0
    +tr(all .3s ease)

    +r($medium)
      border-width: 0 1px 1px 1px
      padding-top: 15px
      padding-right: 15px
      padding-bottom: 15px
      padding-left: 15px
      width: 100%
      height: auto
      border-radius: 0 0 5px 5px

  &__item-title
    margin-bottom: auto
    +r($medium)
      margin-bottom: 20px

  &__item-country,
  &__item-city
    margin-top: auto
    font-size: 16px

  &__item-country
    margin-bottom: 5px


  &__more
    border-bottom: 1px solid $white
    margin-top: 32px
    padding-bottom: 1px
    display: inline-block
    vertical-align: top
    font-size: 18px
    color: inherit
    text-decoration: none
    +tr(all .3s ease)
    &:hover
      border-bottom: 1px solid transparent
      border-width: 0
      +tr(all .3s ease)


  &__bottom
    padding-top: 45px
    padding-bottom: 105px
    +r($medium)
      padding-bottom: (105px / 2)

  &__categories

    margin-right: -15px
    margin-left: -15px
    flex-wrap: wrap

  &__category
    position: relative
    margin-bottom: 18px
    padding-right: 15px
    padding-left: 15px
    max-width: 25%
    width: 100%

    +r($medium)
      max-width: 33.3%

    +r($small)
      max-width: 50%

  &__category_active
    .catalog__category-link
      border: 1px solid transparent
      background-color: #4d6bef
      +tr(all .3s ease)

  &__category-link
    border: 1px solid #ffffff
    padding-top: 10px
    padding-bottom: 8px
    display: block
    color: $white
    font-size: 16px
    font-weight: 500
    text-align: center
    text-decoration: none
    white-space: nowrap
    border-radius: 5px
    +r($small)
      white-space: normal

    &:hover
      border: 1px solid transparent
      background-color: #4d6bef
      +tr(all .3s ease)





