mixin exhibition(data)
  .exhibition
    .exhibition__container.container
      .exhibition__bg
      .exhibition__slider
        .exhibition__item
          .exhibition__top
            .exhibition__meta Дата: с 15.06 до 12.07.2020г.
            h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

          .exhibition__image
            img(src!='assets/images/content/slider-image-1.png' alt='')

          a.exhibition__more(href="#") Подробнее
            .exhibition__more-icon

        .exhibition__item
          .exhibition__top
            .exhibition__meta Дата: с 15.06 до 12.07.2020г.
            h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

          .exhibition__image
            img(src!='assets/images/content/slider-image-1.png' alt='')

          a.exhibition__more(href="#") Подробнее
            .exhibition__more-icon


        .exhibition__item
          .exhibition__top
            .exhibition__meta Дата: с 15.06 до 12.07.2020г.
            h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

          .exhibition__image
            img(src!='assets/images/content/slider-image-1.png' alt='')

          a.exhibition__more(href="#") Подробнее
            .exhibition__more-icon


        .exhibition__item
          .exhibition__top
            .exhibition__meta Дата: с 15.06 до 12.07.2020г.
            h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

          .exhibition__image
            img(src!='assets/images/content/slider-image-1.png' alt='')

          a.exhibition__more(href="#") Подробнее
            .exhibition__more-icon





      .exhibition__thumbs
        .exhibition__thumbs-item
          .exhibition__thumbs-w.lazy(data-bg='url(assets/images/content/thumb-1.png)')
            .exhibition__thumbs-link Общая “Вход”

        .exhibition__thumbs-item
          .exhibition__thumbs-w.lazy(data-bg='url(assets/images/content/thumb-2.png)')
            .exhibition__thumbs-link Общая “Вход”

        .exhibition__thumbs-item
          .exhibition__thumbs-w.lazy(data-bg='url(assets/images/content/thumb-3.png)')
            .exhibition__thumbs-link Общая “Вход”

        .exhibition__thumbs-item
          .exhibition__thumbs-w.lazy(data-bg='url(assets/images/content/thumb-4.png)')
            .exhibition__thumbs-link Общая “Вход”

      .exhibition__nav.slider-nav
        .exhibition__dots.slider-nav__dots

        button.exhibition__arrow.exhibition__arrow_back.slider-nav__arrow.slider-nav__arrow_back
        button.exhibition__arrow.exhibition__arrow_next.slider-nav__arrow.slider-nav__arrow_next
