mixin exhibition(data)
  .exhibition.exhibition_first&attributes(attributes)
    .exhibition__container.container
      .exhibition__bg
      .exhibition__slider
        .exhibition__item
          .exhibition__top
            .exhibition__meta Дата: с 15.06 до 12.07.2020г.
            h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

          picture.exhibition__image
            source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-image-1@2x.webp 2x, assets/images/content/slider-image-1.webp 1x')
            source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-image-1@2x.png 2x, assets/images/content/slider-image-1.png 1x')

            img.lazy(data-src='assets/images/content/slider-image-1.png' alt='')

          a.exhibition__more(href="#") Подробнее
            .exhibition__more-icon

        .exhibition__item
          .exhibition__top
            .exhibition__meta Дата: с 15.06 до 12.07.2020г.
            h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

          picture.exhibition__image
            source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-image-1@2x.webp 2x, assets/images/content/slider-image-1.webp 1x')
            source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-image-1@2x.png 2x, assets/images/content/slider-image-1.png 1x')

            img.lazy(data-src='assets/images/content/slider-image-1.png' alt='')

          a.exhibition__more(href="#") Подробнее
            .exhibition__more-icon


        .exhibition__item
          .exhibition__top
            .exhibition__meta Дата: с 15.06 до 12.07.2020г.
            h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

          picture.exhibition__image
            source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-image-1@2x.webp 2x, assets/images/content/slider-image-1.webp 1x')
            source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-image-1@2x.png 2x, assets/images/content/slider-image-1.png 1x')

            img.lazy(data-src='assets/images/content/slider-image-1.png' alt='')

          a.exhibition__more(href="#") Подробнее
            .exhibition__more-icon


        .exhibition__item
          .exhibition__top
            .exhibition__meta Дата: с 15.06 до 12.07.2020г.
            h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

          picture.exhibition__image
            source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-image-1@2x.webp 2x, assets/images/content/slider-image-1.webp 1x')
            source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-image-1@2x.png 2x, assets/images/content/slider-image-1.png 1x')

            img.lazy(data-src='assets/images/content/slider-image-1.png' alt='')

          a.exhibition__more(href="#") Подробнее
            .exhibition__more-icon


      .exhibition__thumbs
        .exhibition__thumbs-item
          .exhibition__thumbs-w.lazy(data-bg='url(assets/images/content/thumb-1.png)')
            .exhibition__thumbs-link Общая “Вход”

        .exhibition__thumbs-item
          .exhibition__thumbs-w.lazy(data-bg='url(assets/images/content/thumb-2.png)')
            .exhibition__thumbs-link Общая “Вход”

        .exhibition__thumbs-item
          .exhibition__thumbs-w.lazy(data-bg='url(assets/images/content/thumb-3.png)')
            .exhibition__thumbs-link Общая “Вход”

        .exhibition__thumbs-item
          .exhibition__thumbs-w.lazy(data-bg='url(assets/images/content/thumb-4.png)')
            .exhibition__thumbs-link Общая “Вход”

      .exhibition__nav.slider-nav
        .exhibition__dots.slider-nav__dots

        button.exhibition__arrow.exhibition__arrow_back.slider-nav__arrow.slider-nav__arrow_back
        button.exhibition__arrow.exhibition__arrow_next.slider-nav__arrow.slider-nav__arrow_next





mixin exhibition-secondary(data)
  .exhibition.exhibition_secondary&attributes(attributes)
    .exhibition__top.flex

      h1.exhibition__title
        .exhibition__type Виртуальная выставка
        | "Beauty Digital 2020"

      .exhibition__price
        .exhibition__price-title Стоимость online-билета
        .exhibition__price-w
          .exhibition__price-val 450 руб

      .exhibition__date Дата: с 15.06 до 12.07.2020г.

    .exhibition__slider
      .exhibition__item
        .exhibition__entry


          img(src="assets/images/content/ticket-image-1.jpg", alt="")



          button.exhibition__video-button
            != pugHelpers.Icon.call(locals, {iconName: 'play-icon', className: 'exhibition__video-icon'})



      .exhibition__item
        .exhibition__entry


          img(src="assets/images/content/ticket-image-1.jpg", alt="")

          button.exhibition__video-button
            != pugHelpers.Icon.call(locals, {iconName: 'play-icon', className: 'exhibition__video-icon'})
      .exhibition__item
        .exhibition__entry

          img(src="assets/images/content/ticket-image-1.jpg", alt="")


          button.exhibition__video-button
            != pugHelpers.Icon.call(locals, {iconName: 'play-icon', className: 'exhibition__video-icon'})

    .exhibition__nav.flex
      button.exhibition__arrow.exhibition__arrow_back
        != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'exhibition__arrow-icon'})

      button.exhibition__arrow.exhibition__arrow_next
        != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'exhibition__arrow-icon'})

    #exhThumbs.exhibition__thumbs
      .exhibition__thumbs-item
        .exhibition__thumbs-w
          img(src="assets/images/content/ticket-thumb-1.jpg", alt="")
      .exhibition__thumbs-item
        .exhibition__thumbs-w
          img(src="assets/images/content/ticket-thumb-2.jpg", alt="")
      .exhibition__thumbs-item
        .exhibition__thumbs-w
          img(src="assets/images/content/ticket-thumb-3.jpg", alt="")




mixin exhibition-third(data)
  .exhibition.exhibition_third&attributes(attributes)
    .exhibition__bg
    .exhibition__slider
      .exhibition__item
        .exhibition__top
          .exhibition__meta Дата: с 15.06 до 12.07.2020г.
          h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

        .exhibition__entry
          img(src="assets/images/content/ticket-image-1.jpg", alt="")
          button.exhibition__video-button
            != pugHelpers.Icon.call(locals, {iconName: 'play-icon', className: 'exhibition__video-icon'})


      .exhibition__item
        .exhibition__top
          .exhibition__meta Дата: с 15.06 до 12.07.2020г.
          h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

        .exhibition__entry
          img(src="assets/images/content/ticket-image-1.jpg", alt="")
          button.exhibition__video-button
            != pugHelpers.Icon.call(locals, {iconName: 'play-icon', className: 'exhibition__video-icon'})



      .exhibition__item
        .exhibition__top
          .exhibition__meta Дата: с 15.06 до 12.07.2020г.
          h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

        .exhibition__entry
          img(src="assets/images/content/ticket-image-1.jpg", alt="")
          button.exhibition__video-button
            != pugHelpers.Icon.call(locals, {iconName: 'play-icon', className: 'exhibition__video-icon'})


      .exhibition__item
        .exhibition__top
          .exhibition__meta Дата: с 15.06 до 12.07.2020г.
          h2.exhibition__title Виртуальная выставка "Beauty Digital 2020

        .exhibition__entry
          img(src="assets/images/content/ticket-image-1.jpg", alt="")
          button.exhibition__video-button
            != pugHelpers.Icon.call(locals, {iconName: 'play-icon', className: 'exhibition__video-icon'})


    .exhibition__nav.slider-nav
      button.exhibition__arrow.exhibition__arrow_back.slider-nav__arrow.slider-nav__arrow_back
      button.exhibition__arrow.exhibition__arrow_next.slider-nav__arrow.slider-nav__arrow_next

