mixin map(data)
  .map
    .map__top
      h2.map__title.title Карта экспонентов

    #map.map__object


      //- .marker
      //-   .marker__arrow
      //-   .marker__item
      //-     .marker__image
      //-       img(src="", alt="")
      //-     .marker__entry
      //-       .marker__title






