mixin featured(data)
  section.featured&attributes(attributes)
    .featured__container.container
      h2.featured__title.title Избранные экспоненты
      .featured__slider
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-1.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-2.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-3.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-4.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-1.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-2.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-3.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-4.png", alt="")
              a.featured__link(href="#link") Общая “Вход”

        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-1.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-2.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-3.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-4.png", alt="")
              a.featured__link(href="#link") Общая “Вход”


      .featured__nav.slider-nav
        .featured__dots.slider-nav__dots
        button.featured__arrow.featured__arrow_back.slider-nav__arrow.slider-nav__arrow_back
        button.featured__arrow.featured__arrow_next.slider-nav__arrow.slider-nav__arrow_next




mixin featured-second(data)
  section.featured&attributes(attributes)
    .featured__container.container
      h2.featured__title.title Избранные материалы
      .featured__slider
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-1.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-2.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-3.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-4.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-1.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-2.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-3.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-4.png", alt="")
              a.featured__link(href="#link") Общая “Вход”

        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-1.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-2.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-3.png", alt="")
              a.featured__link(href="#link") Общая “Вход”
        .featured__item
          .featured__item-w
            .featured__content
              img.featured__image(src="assets/images/content/thumb-4.png", alt="")
              a.featured__link(href="#link") Общая “Вход”


      .featured__nav.slider-nav
        .featured__dots.slider-nav__dots
        button.featured__arrow.featured__arrow_back.slider-nav__arrow.slider-nav__arrow_back
        button.featured__arrow.featured__arrow_next.slider-nav__arrow.slider-nav__arrow_next