mixin congress-centr(data)
  section.congress-centr
    .congress-centr__container.container
      h1.congress-centr__title.title Конгресс-центр
      nav.congress-centr__cat
        ul.congress-centr__cat-list.flex
          li.congress-centr__cat-item
            a.congress-centr__cat-link.button(href="#") Приветствия

          li.congress-centr__cat-item.congress-centr__cat-item_active
            a.congress-centr__cat-link.button(href="#") Программа

          li.congress-centr__cat-item
            a.congress-centr__cat-link.button(href="#") Презентации

      .congress-centr__content

        nav.congress-centr__days.flex
          a.congress-centr__day(href="#") 1 день
          a.congress-centr__day.congress-centr__day_active(href="#") 2 день
          a.congress-centr__day(href="#") 3 день


        ul.congress-centr__list
          li.congress-centr__item
            .congress-centr__meta.flex
              .congress-centr__date 12:30 - 14:30
              .congress-centr__session Сессия №1
              a.congress-centr__join.button(href="#") Принять участие

            h2.congress-centr__item-title Совершенствование нормативной базы проектирования <br/>для обеспечения безопасности и качества дорог

            #more-01.congress-centr__blocks

              .congress-centr__block
                h3.congress-centr__block-title Модератор
                .congress-centr__block-text
                  p
                    b Астахов Игорь Сергеевич
                    |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.

              .congress-centr__block
                h3.congress-centr__block-title Спикеры:
                .congress-centr__block-text
                  ul
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.



            .congress-centr__button-w
              a.congress-centr__more(href="#more-01") Подробнее
              a.congress-centr__button.button(href="#") Принять участие



          li.congress-centr__item
            .congress-centr__meta.flex
              .congress-centr__date 14:30 - 16:00
              .congress-centr__session Сессия №2
              a.congress-centr__join.button(href="#") Принять участие

            h2.congress-centr__item-title Сметное нормирование и ценообразование при строительстве <br/>и ремонте автодорог

            #more-02.congress-centr__blocks

              .congress-centr__block
                h3.congress-centr__block-title Модератор
                .congress-centr__block-text
                  p
                    b Астахов Игорь Сергеевич
                    |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.

                  p
                    b Астахов Игорь Сергеевич
                    |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.

              .congress-centr__block
                h3.congress-centr__block-title Спикеры:
                .congress-centr__block-text
                  ul
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.
                    li
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      p
                        b Астахов Игорь Сергеевич
                        |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.


              .congress-centr__block
                h3.congress-centr__block-title Участники дискуссии
                .congress-centr__block-text
                  p
                    b Астахов Игорь Сергеевич
                    |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.

                  p
                    b Астахов Игорь Сергеевич
                    |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.

                  p
                    b Астахов Игорь Сергеевич
                    |  - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex que.


            .congress-centr__button-w
              a.congress-centr__more(href="#more-02") Подробнее
              a.congress-centr__button.button(href="#") Принять участие


mixin congress-centr-loading(data)
  section.congress-centr
    .congress-centr__container.container
      h1.congress-centr__title.title Конгресс-центр
      nav.congress-centr__cat
        ul.congress-centr__cat-list.flex
          li.congress-centr__cat-item.congress-centr__cat-item_active
            a.congress-centr__cat-link.button(href="#") Приветствия

          li.congress-centr__cat-item
            a.congress-centr__cat-link.button(href="#") Программа

          li.congress-centr__cat-item
            a.congress-centr__cat-link.button(href="#") Презентации

      .congress-centr__content
        .congress-centr__loading
          .congress-centr__loading-icon
          .congress-centr__loading-text Информация обновляется
