.about
  position: relative
  // z-index: 1
  &__container
    position: relative
    // z-index: 0
    padding-top: 176px
    +r($medium)
      padding-top: (176px / 2)

  &__bg
    position: absolute
    z-index: -1
    top: -715px
    left: -16px
    width: 2507px
    height: 3375px
    content: ''
    // background-image: url('../images/general/planet-bg.png')
    background-position: 0 0
    background-repeat: no-repeat
    // transform: translateX(-50%)
  &__slider
    margin-right: -60px
    margin-left: -30px
    +r($medium)
      margin-right: 0
      margin-left: 0


  &__item
    &:nth-child(2)
      +r($small)
        display: none
  &__item-w
    padding-top: 15px
    padding-right: 30px
    padding-bottom: 30px
    padding-left: 30px
    +r($medium)
      padding-right: 0
      padding-bottom: 0
      padding-left: 0
      padding-top: 0
      height: auto
      flex-wrap: wrap
      // flex-direction: column
      // overflow: hidden
      border-radius: 0 0 10px 10px


  &__entry,
  &__image
    max-width: 50%
    width: 100%
    // height: 402px
    border-radius: 10px 10px 10px 10px

    +r($medium)
      max-width: 100%
      width: auto
      // height: auto

  &__image
    order: -1
    max-width: 47.5%
    font-size: 0

    +r($medium)
      max-width: 100%
      width: 100%
    +r($small)
      display: none

    img,
    source
      border-radius: 10px 0 0 10px
      width: 100%
      height: 100%
      object-fit: cover
      +r($medium)
        border-radius: 10px 10px 0 0


  &__entry
    padding-top: 38px
    padding-right: 46px
    padding-bottom: 33px
    padding-left: 27px
    display: flex
    flex-direction: column
    background-color: #4d6bef
    background-image: url('../images/general/about-gradient.png')
    background-repeat: no-repeat
    box-shadow: 4px 3px 26px 3px rgba(77, 107, 239, 0.81)
    border-radius: 0 10px 10px 0

    +r($medium)
      border-radius: 0 0 10px 10px
      background-image: none

    +r($small)
      padding-top: 22px
      padding-bottom: 32px
      padding-right: 15px
      padding-left: 15px

      background-image: url('../images/general/about-bg.png')
      background-size: cover
      border-radius: 10px

  &__title
    margin-bottom: 29px
    +r($small)
      margin-bottom: 17px

  &__text
    max-height: 209px
    overflow: hidden
    +r($medium)
      max-height: 100%
      font-family: $fL
      font-size: 14px
      font-weight: 300
    +r($small)
      margin-bottom: 40px
      max-height: 144px
    p
      margin-bottom: 20px
      line-height: 1.285
      +r($small)
        line-height: 1.29

  &__more
    margin-top: auto
    // margin-right: 20px
    align-self: flex-end
    +r($small)
      position: static
      margin-top: 30px
      padding-top: 10px
      padding-right: 30px
      padding-bottom: 10px
      padding-left: 30px
      height: 39px
      align-self: center
      font-size: 18px
      border-radius: 5px
      box-shadow: 2.5px 4.3px 25.8px 3.2px rgba(77, 107, 239, 0.81)

  &__more-link
    padding-bottom: 2px
    display: none
    color: $white
    font-size: 18px
    line-height: 1
    text-align: center
    text-decoration: none
    box-shadow: inset 0 -1px 0 $white
    +r($small)
      display: block
      display: flex
      align-self: center
    &:hover
      box-shadow: inset 0 -1px 0 transparent


  &__nav
    position: absolute
    top: calc(100% - 79px)
    left: calc(48.5% + 35px)
    max-width: 112px
    width: 100%
    +r($medium)
      top: calc(100% - 50px)
      left: 40px
    +r($small)
      max-width: 82px
      display: none

  &__nav-arrow
    position: absolute
    top: 50%
    +resetbutton()
    +bg($arrow)
    transform: translateY(-50%)

  &__nav-arrow_back
    left: 0
  &__nav-arrow_next
    right: 0
    transform: translate(-50%, -50%) rotate(180deg)


.about_secondary
  .about__container
    padding-top: 66px
    +r($medium)
      padding-top: (66px /2)


  .about__entry,
  .about__image
    height: auto

  .about__image
   +r($medium)
    width: 100%

  .about__entry
    position: relative
    padding-right: 56px
    padding-bottom: 82px

    +r($small)
      padding-top: 22px
      padding-bottom: 32px
      padding-right: 15px
      padding-left: 15px

  .about__more
    position: absolute
    bottom: 45px
    right: 48px
    margin-top: 30px
    padding-left: 28px
    +r($small)
      position: static
      padding-top: 10px
      padding-right: 30px
      padding-bottom: 10px
      padding-left: 30px
      height: 39px
      align-self: center
      font-size: 18px
      border-radius: 5px
      box-shadow: 2.5px 4.3px 25.8px 3.2px rgba(77, 107, 239, 0.81)


  .about__nav
    top: calc(100% - 90px)
    +r($medium)
      top: calc(100% - 60px)

