mixin about(data)
  .about
    .about__container.container

      .about__bg.lazy(data-bg='url(assets/images/general/planet-bg-2.png)')
      .about__slider
        .about__item
          .about__item-w.flex
            .about__entry
              h2.about__title.title О выставке
              .about__text
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

              a.about__more.button(href="#") Войти на выставку

            picture.about__image
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/about-image@2x.webp 2x, assets/images/content/about-image.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/about-image@2x.jpg 2x, assets/images/content/about-image.jpg 1x')
              img.lazy(data-src="assets/images/content/about-image.jpg", alt="")

        .about__item
          .about__item-w.flex
            .about__entry
              h2.about__title.title О выставке
              .about__text
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

              a.about__more.button(href="#") Войти на выставку

            picture.about__image
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/about-image@2x.webp 2x, assets/images/content/about-image.webp 1x')
              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/about-image@2x.jpg 2x, assets/images/content/about-image.jpg 1x')
              img.lazy(data-src="assets/images/content/about-image.jpg", alt="")


      .about__nav
        button.about__nav-arrow.about__nav-arrow_back
        button.about__nav-arrow.about__nav-arrow_next




mixin about-secondary(data)
  .about.about_secondary
    .about__container.container

      .about__bg.lazy(data-bg='url(assets/images/general/planet-bg-2.png)')
      .about__slider
        .about__item
          .about__item-w.flex
            .about__entry
              h2.about__title.title О выставке
              .about__text
                p Мероприятие служит эффективной площадкой для демонстрации новых продуктов и технологий во всех сферах мировой beauty-индустрии. Это идеальная возможность познакомиться с актуальными трендами и тенденциями индустрии красоты, принять участие в авторских мастер-классах, решить насущные задачи бизнеса, послушать мнения экспертов красоты, узнать больше о последних разработках и технологиях производства со всего мира, определить траектории развития бизнеса, и конечно же — в полной мере прочувствовать атмосферу красоты.magni dolores eos qui ratione voluptatem sequi nesciunt.

              a.about__more.button(href="#") Получить консультацию

            picture.about__image
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/about-image-2@2x.webp 2x, assets/images/content/about-image-2.webp 1x')

              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/about-image-2@2x.png 2x, assets/images/content/about-image-2.png 1x')
              img.lazy(data-srcset="assets/images/content/about-image-2@2x.png 2x, assets/images/content/about-image-2.png 1x,", alt="")

        .about__item
          .about__item-w.flex
            .about__entry
              h2.about__title.title О выставке
              .about__text
                p Мероприятие служит эффективной площадкой для демонстрации новых продуктов и технологий во всех сферах мировой beauty-индустрии. Это идеальная возможность познакомиться с актуальными трендами и тенденциями индустрии красоты, принять участие в авторских мастер-классах, решить насущные задачи бизнеса, послушать мнения экспертов красоты, узнать больше о последних разработках и технологиях производства со всего мира, определить траектории развития бизнеса, и конечно же — в полной мере прочувствовать атмосферу красоты.magni dolores eos qui ratione voluptatem sequi nesciunt.

              a.about__more.button(href="#") Получить консультацию

            picture.about__image
              source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/about-image-2@2x.webp 2x, assets/images/content/about-image-2.webp 1x')

              source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/about-image-2@2x.png 2x, assets/images/content/about-image-2.png 1x')
              img.lazy(data-srcset="assets/images/content/about-image-2@2x.png 2x, assets/images/content/about-image-2.png 1x,", alt="")


      .about__nav
        button.about__nav-arrow.about__nav-arrow_back
        button.about__nav-arrow.about__nav-arrow_next