.phone
  position: relative
  padding-left: 24px
  display: flex
  flex-shrink: 0
  color: inherit
  font-family: $fL
  font-size: 16px
  font-weight: 300
  line-height: 1
  text-decoration: none
  white-space: nowrap
  &:after
    position: absolute
    left: 0
    top: 50%
    content: ''
    +bg($phone)
    transform: translateY(-50%)
